* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --primary: #3e54ac;
  --primary-darker: #0038b1;
  --primary-lighter: #3e54ac8e;
  --bg: #ecf2ff;
  --text-dark: #1e1926;
  --red: #df2e38;
}

.gridContainer {
  background-color: var(--bg);
  display: grid;
  height: 100vh;
  justify-items: center;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* background-color: var(--bg); */
  color: var(--primary);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2;
  grid-row: 1;
  padding: 2rem;
}

.timerContainer {
  grid-column: 2;
  grid-row: 2;
}

.timer {
  font-size: 4rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-column: 2;
  grid-row: 3;
}

.btn {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 10px;
  border: var(--primary) 2px solid;
  background-color: var(--bg);
  transition: ease 0.3s;
}

.btn:hover {
  background-color: var(--primary);
}

.btn:active {
  opacity: 0.5;
}

.btn:hover .fa-solid {
  color: var(--bg);
}

.btnContainer .fa-solid {
  font-size: 1.2rem;
  color: var(--primary);
}

.stop {
  background-color: var(--red);
  border-color: var(--bg);
  display: none;
}

.stop .fa-stop {
  color: var(--bg);
}
